<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizy sejmowe</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div id= container>

    <div id="sidebar">
        <div id="menu">
            <p>MODUŁY</p>
            <ul>
                <li><a href="#">Ustawy</a></li>
                <li><a href="#">Wyszukiwanie</a></li>
                <li><a href="#">Posłowie</a></li>
                <li><a href="#">Pozycja 4</a></li>
            </ul>
        </div>

        <div id="footer">

            <p>Created by <br> Piotr Słowakiewicz <br> 2024</p>
        </div>
    </div>



    <div id="content">
        <h1>ANALIZY SEJMOWE</h1>
        <p>Tutaj znajduje się treść strony.</p>
        <img src="sejm.jpg" alt="Opis obrazka">
    </div>
</div>

</body>
</html>
